html,
body {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button{
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(1, 5, 65);
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
    border-color: rgb(237, 237, 237);

    justify-content: center;
    align-items: center;
    display: flex;
    width: 100px;
    height: 100px;    
}

#block{
    width: 400px;
    height: 200px;
    background: rgb(62,62,62);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    display: flex;

}

#general{ 
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,5,79,1) 17%, rgba(9,9,121,1) 47%, rgba(43,43,104,1) 76%, rgba(83,83,83,1) 100%);}

#titulo{
    color: aliceblue;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    display: flex;

}
